<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.BusinessDevelopmentConstructionPreparationMapper">
    
    <resultMap type="BusinessDevelopmentConstructionPreparation" id="BusinessDevelopmentConstructionPreparationResult">
        <result property="id"    column="id"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="defaultTime"    column="default_time"    />
        <result property="operator"    column="operator"    />
        <result property="operatorNumber"    column="operator_number"    />
        <result property="projectNature"    column="project_nature"    />
        <result property="projectName"    column="project_name"    />
        <result property="projectCapacity"    column="project_capacity"    />
        <result property="projectCapacityRecord"    column="project_capacity_record"    />
        <result property="projectType"    column="project_type"    />
        <result property="projectDevelopmentModalities"    column="project_development_modalities"    />
        <result property="projectRegionDistrict"    column="project_region_district"    />
        <result property="projectResponsibilityUnit"    column="project_responsibility_unit"    />
        <result property="projectXAxis"    column="project_x_axis"    />
        <result property="projectYAxis"    column="project_y_axis"    />
        <result property="remark"    column="remark"    />
        <result property="signingPlaningTime"    column="signing_planing_time"    />
        <result property="signingTime"    column="signing_time"    />
        <result property="recordPlaningTime"    column="record_planing_time"    />
        <result property="recordTime"    column="record_time"    />
        <result property="draftPlaningTime"    column="draft_planing_time"    />
        <result property="draftTime"    column="draft_time"    />
        <result property="formalityPlaningTime"    column="formality_planing_time"    />
        <result property="formalityTime"    column="formality_time"    />
        <result property="decisionPlaningTime"    column="decision_planing_time"    />
        <result property="decisionTime"    column="decision_time"    />
        <result property="equipmentPlaningTime"    column="equipment_planing_time"    />
        <result property="equipmentTime"    column="equipment_time"    />
        <result property="constructionPlaningTime"    column="construction_planing_time"    />
        <result property="constructionTime"    column="construction_time"    />
        <result property="constructingPlaningTime"    column="constructing_planing_time"    />
        <result property="constructingTime"    column="constructing_time"    />
    </resultMap>

    <sql id="selectBusinessDevelopmentConstructionPreparationVo">
        select id, status, del_flag, create_by, create_time, update_by, update_time, default_time, operator, operator_number, project_nature, project_name, project_capacity,project_capacity_record, project_type, project_development_modalities, project_region_district, project_responsibility_unit, project_x_axis, project_y_axis, remark, signing_planing_time, signing_time, record_planing_time, record_time, draft_planing_time, draft_time, formality_planing_time, formality_time, decision_planing_time, decision_time , equipment_planing_time, equipment_time, construction_planing_time, construction_time, constructing_planing_time, constructing_time from business_development_construction_preparation
    </sql>

    <select id="selectBusinessDevelopmentConstructionPreparationList" parameterType="BusinessDevelopmentConstructionPreparation" resultMap="BusinessDevelopmentConstructionPreparationResult">
        <include refid="selectBusinessDevelopmentConstructionPreparationVo"/>
        <where>  
            <if test="defaultTime != null  and defaultTime != ''"> and create_time like concat('%',#{defaultTime}, '%') </if>
            <if test="operator != null  and operator != ''"> and operator like concat('%', #{operator}, '%')</if>
            <if test="operatorNumber != null  and operatorNumber != ''"> and operator_number = #{operatorNumber}</if>
            <if test="projectNature != null  and projectNature != ''"> and project_nature like concat('%', #{projectNature}, '%')</if>
            <if test="projectName != null  and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
            <if test="projectCapacity != null  and projectCapacity != ''"> and project_capacity = #{projectCapacity}</if>
            <if test="projectCapacityRecord != null  and projectCapacityRecord != ''"> and project_capacity_record = #{projectCapacityRecord}</if>
            <if test="projectType != null  and projectType != ''"> and project_type like concat('%', #{projectType}, '%')</if>
            <if test="projectDevelopmentModalities != null  and projectDevelopmentModalities != ''"> and project_development_modalities like concat('%', #{projectDevelopmentModalities}, '%')</if>
            <if test="projectRegionDistrict != null  and projectRegionDistrict != ''"> and project_region_district like concat('%', #{projectRegionDistrict}, '%')</if>
            <if test="projectResponsibilityUnit != null  and projectResponsibilityUnit != ''"> and project_responsibility_unit like concat('%', #{projectResponsibilityUnit}, '%')</if>
            <if test="projectXAxis != null  and projectXAxis != ''"> and project_x_axis = #{projectXAxis}</if>
            <if test="projectYAxis != null  and projectYAxis != ''"> and project_y_axis = #{projectYAxis}</if>
        </where>
    </select>

    <resultMap type="java.lang.String" id="operatorResult">
        <result column="operator"    />
    </resultMap>

    <select id="selectBusinessDevelopmentConstructionPreparationOperatorByGroupList" parameterType="BusinessDevelopmentConstructionPreparation" resultMap="operatorResult">
        <include refid="selectBusinessDevelopmentConstructionPreparationVo"/>
        <where>
            <if test="defaultTime != null  and defaultTime != ''"> and default_time = #{defaultTime}</if>
            <if test="operator != null  and operator != ''"> and operator like concat('%', #{operator}, '%')</if>
            <if test="operatorNumber != null  and operatorNumber != ''"> and operator_number = #{operatorNumber}</if>
            <if test="projectNature != null  and projectNature != ''"> and project_nature like concat('%', #{projectNature}, '%')</if>
            <if test="projectName != null  and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
            <if test="projectCapacity != null  and projectCapacity != ''"> and project_capacity = #{projectCapacity}</if>
            <if test="projectCapacityRecord != null  and projectCapacityRecord != ''"> and project_capacity_record = #{projectCapacityRecord}</if>
            <if test="projectType != null  and projectType != ''"> and project_type like concat('%', #{projectType}, '%')</if>
            <if test="projectDevelopmentModalities != null  and projectDevelopmentModalities != ''"> and project_development_modalities like concat('%', #{projectDevelopmentModalities}, '%')</if>
            <if test="projectRegionDistrict != null  and projectRegionDistrict != ''"> and project_region_district like concat('%', #{projectRegionDistrict}, '%')</if>
            <if test="projectResponsibilityUnit != null  and projectResponsibilityUnit != ''"> and project_responsibility_unit like concat('%', #{projectResponsibilityUnit}, '%')</if>
            <if test="projectXAxis != null  and projectXAxis != ''"> and project_x_axis = #{projectXAxis}</if>
            <if test="projectYAxis != null  and projectYAxis != ''"> and project_y_axis = #{projectYAxis}</if>
            <if test="'' == ''"> and 1=1 group by operator </if>
        </where>
    </select>
    
    <select id="selectBusinessDevelopmentConstructionPreparationById" parameterType="Long" resultMap="BusinessDevelopmentConstructionPreparationResult">
        <include refid="selectBusinessDevelopmentConstructionPreparationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusinessDevelopmentConstructionPreparation" parameterType="BusinessDevelopmentConstructionPreparation" useGeneratedKeys="true" keyProperty="id">
        insert into business_development_construction_preparation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="defaultTime != null and defaultTime != ''">default_time,</if>
            <if test="operator != null and operator != ''">operator,</if>
            <if test="operatorNumber != null and operatorNumber != ''">operator_number,</if>
            <if test="projectNature != null and projectNature != ''">project_nature,</if>
            <if test="projectName != null and projectName != ''">project_name,</if>
            <if test="projectCapacity != null and projectCapacity != ''">project_capacity,</if>
            <if test="projectCapacityRecord != null and projectCapacityRecord != ''">project_capacity_record,</if>
            <if test="projectType != null and projectType != ''">project_type,</if>
            <if test="projectDevelopmentModalities != null and projectDevelopmentModalities != ''">project_development_modalities,</if>
            <if test="projectRegionDistrict != null and projectRegionDistrict != ''">project_region_district,</if>
            <if test="projectResponsibilityUnit != null and projectResponsibilityUnit != ''">project_responsibility_unit,</if>
            <if test="projectXAxis != null and projectXAxis != ''">project_x_axis,</if>
            <if test="projectYAxis != null and projectYAxis != ''">project_y_axis,</if>
            <if test="remark != null">remark,</if>
            <if test="signingPlaningTime != null">signing_planing_time,</if>
            <if test="signingTime != null">signing_time,</if>
            <if test="recordPlaningTime != null">record_planing_time,</if>
            <if test="recordTime != null">record_time,</if>
            <if test="draftPlaningTime != null">draft_planing_time,</if>
            <if test="draftTime != null">draft_time,</if>
            <if test="formalityPlaningTime != null">formality_planing_time,</if>
            <if test="formalityTime != null">formality_time,</if>
            <if test="decisionPlaningTime != null">decision_planing_time,</if>
            <if test="decisionTime != null">decision_time,</if>

            <if test="equipmentPlaningTime != null">equipment_planing_time,</if>
            <if test="equipmentTime != null">equipment_time,</if>
            <if test="constructionPlaningTime != null">construction_planing_time,</if>
            <if test="constructionTime != null">construction_time,</if>
            <if test="constructingPlaningTime != null">constructing_planing_time,</if>
            <if test="constructingTime != null">constructing_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="defaultTime != null and defaultTime != ''">#{defaultTime},</if>
            <if test="operator != null and operator != ''">#{operator},</if>
            <if test="operatorNumber != null and operatorNumber != ''">#{operatorNumber},</if>
            <if test="projectNature != null and projectNature != ''">#{projectNature},</if>
            <if test="projectName != null and projectName != ''">#{projectName},</if>
            <if test="projectCapacity != null and projectCapacity != ''">#{projectCapacity},</if>
            <if test="projectCapacityRecord != null and projectCapacityRecord != ''">#{projectCapacityRecord},</if>
            <if test="projectType != null and projectType != ''">#{projectType},</if>
            <if test="projectDevelopmentModalities != null and projectDevelopmentModalities != ''">#{projectDevelopmentModalities},</if>
            <if test="projectRegionDistrict != null and projectRegionDistrict != ''">#{projectRegionDistrict},</if>
            <if test="projectResponsibilityUnit != null and projectResponsibilityUnit != ''">#{projectResponsibilityUnit},</if>
            <if test="projectXAxis != null and projectXAxis != ''">#{projectXAxis},</if>
            <if test="projectYAxis != null and projectYAxis != ''">#{projectYAxis},</if>
            <if test="remark != null">#{remark},</if>
            <if test="signingPlaningTime != null">#{signingPlaningTime},</if>
            <if test="signingTime != null">#{signingTime},</if>
            <if test="recordPlaningTime != null">#{recordPlaningTime},</if>
            <if test="recordTime != null">#{recordTime},</if>
            <if test="draftPlaningTime != null">#{draftPlaningTime},</if>
            <if test="draftTime != null">#{draftTime},</if>
            <if test="formalityPlaningTime != null">#{formalityPlaningTime},</if>
            <if test="formalityTime != null">#{formalityTime},</if>
            <if test="decisionPlaningTime != null">#{decisionPlaningTime},</if>
            <if test="decisionTime != null">#{decisionTime},</if>

            <if test="equipmentPlaningTime != null">#{equipmentPlaningTime},</if>
            <if test="equipmentTime != null">#{equipmentTime},</if>
            <if test="constructionPlaningTime != null">#{constructionPlaningTime},</if>
            <if test="constructionTime != null">#{constructionTime},</if>
            <if test="constructingPlaningTime != null">#{constructingPlaningTime},</if>
            <if test="constructingTime != null">#{constructingTime},</if>
         </trim>
    </insert>

    <update id="updateBusinessDevelopmentConstructionPreparation" parameterType="BusinessDevelopmentConstructionPreparation">
        update business_development_construction_preparation
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="defaultTime != null and defaultTime != ''">default_time = #{defaultTime},</if>
            <if test="operator != null and operator != ''">operator = #{operator},</if>
            <if test="operatorNumber != null and operatorNumber != ''">operator_number = #{operatorNumber},</if>
            <if test="projectNature != null and projectNature != ''">project_nature = #{projectNature},</if>
            <if test="projectName != null and projectName != ''">project_name = #{projectName},</if>
            <if test="projectCapacity != null and projectCapacity != ''">project_capacity = #{projectCapacity},</if>
            <if test="projectCapacityRecord != null and projectCapacityRecord != ''">project_capacity_record = #{projectCapacityRecord},</if>
            <if test="projectType != null and projectType != ''">project_type = #{projectType},</if>
            <if test="projectDevelopmentModalities != null and projectDevelopmentModalities != ''">project_development_modalities = #{projectDevelopmentModalities},</if>
            <if test="projectRegionDistrict != null and projectRegionDistrict != ''">project_region_district = #{projectRegionDistrict},</if>
            <if test="projectResponsibilityUnit != null and projectResponsibilityUnit != ''">project_responsibility_unit = #{projectResponsibilityUnit},</if>
            <if test="projectXAxis != null and projectXAxis != ''">project_x_axis = #{projectXAxis},</if>
            <if test="projectYAxis != null and projectYAxis != ''">project_y_axis = #{projectYAxis},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="signingPlaningTime != null">signing_planing_time = #{signingPlaningTime},</if>
            <if test="signingTime != null">signing_time = #{signingTime},</if>
            <if test="recordPlaningTime != null">record_planing_time = #{recordPlaningTime},</if>
            <if test="recordTime != null">record_time = #{recordTime},</if>
            <if test="draftPlaningTime != null">draft_planing_time = #{draftPlaningTime},</if>
            <if test="draftTime != null">draft_time = #{draftTime},</if>
            <if test="formalityPlaningTime != null">formality_planing_time = #{formalityPlaningTime},</if>
            <if test="formalityTime != null">formality_time = #{formalityTime},</if>
            <if test="decisionPlaningTime != null">decision_planing_time = #{decisionPlaningTime},</if>
            <if test="decisionTime != null">decision_time = #{decisionTime},</if>

            <if test="equipmentPlaningTime != null">equipment_planing_time = #{equipmentPlaningTime},</if>
            <if test="equipmentTime != null">equipment_time = #{equipmentTime},</if>
            <if test="constructionPlaningTime != null">construction_planing_time = #{constructionPlaningTime},</if>
            <if test="constructionTime != null">construction_time = #{constructionTime},</if>
            <if test="constructingPlaningTime != null">constructing_planing_time = #{constructingPlaningTime},</if>
            <if test="constructingTime != null">constructing_time = #{constructingTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusinessDevelopmentConstructionPreparationById" parameterType="Long">
        delete from business_development_construction_preparation where id = #{id}
    </delete>

    <delete id="deleteBusinessDevelopmentConstructionPreparationByIds" parameterType="String">
        delete from business_development_construction_preparation where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>